body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-image: url('8.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    min-height: 100vh; /* Ensure body takes up full viewport height */
    overflow-y: auto; /* Allow vertical scrolling if content is too tall */
}

.form-container {
    background-color: rgba(245, 244, 244, 0.468);
    padding: 20px; /* Reduced padding for better spacing */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.089);
    width: 90%; /* Reduced width for better display on mobile */
    max-width: 400px;
    box-sizing: border-box;
    margin: 10px auto; /* Center the form and prevent it from touching the edges */
    text-align: center; /* Center the content within the container */
}

h2 {
    margin: 0 0 20px 0; /* Adjusted margin to prevent overlap */
    font-size: 2rem;
    text-align: center;
    color: rgb(255, 255, 255);
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Ensure form elements take up full width */
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: left; /* Align labels to the left */
}

input[type="text"],
input[type="time"],
input[type="date"],
select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 1rem;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Add space above the button */
    font-size: 1.5rem; /* Responsive font size */
    font-weight: bold; /* Bold text */
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .form-container {
        padding: 15px; /* Reduced padding for smaller screens */
        margin: 10px; /* Ensure the form doesn't touch the edges */
    }

    h2 {
        font-size: 1.2rem; /* Smaller font size for headings */
    }

    input[type="text"],
    input[type="time"],
    input[type="date"],
    select,
    button {
        font-size: 0.9rem; /* Smaller font size for inputs and buttons */
    }
}
#spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}


